In [2]:
import pandas as pd

In [14]:
file_path = '/Users/chiaradraghini/Documents/iot_wi_project/data/capture/'

data = pd.read_csv(file_path+'project_iotwi_capture.csv')

In [11]:
data_filtered_protocol = data[data['Protocol'] == "UDP"]
data_filtered_protocol

,No.,Time,Source,Destination,Protocol,Length,Info,Delta,Bytes
0,1,0.000000,172.20.10.2,144.195.65.24,UDP,1052,62819 > 8801 Len=1010,0.000000,1052
1,2,0.010594,172.20.10.2,144.195.65.24,UDP,1009,62819 > 8801 Len=967,0.010594,1009
2,3,0.020923,172.20.10.2,144.195.65.24,UDP,1009,62819 > 8801 Len=967,0.010329,1009
3,4,0.020923,172.20.10.2,144.195.65.24,UDP,1009,62819 > 8801 Len=967,0.000000,1009
4,5,0.031861,172.20.10.2,144.195.65.24,UDP,1008,62819 > 8801 Len=966,0.010938,1008
...,...,...,...,...,...,...,...,...,...
145198,145199,602.836771,172.20.10.2,144.195.65.24,UDP,618,62819 > 8801 Len=576,0.011000,618
145199,145200,602.848084,144.195.65.24,172.20.10.2,UDP,1115,8801 > 62819 Len=1073,0.011313,1115
145200,145201,602.848090,144.195.65.24,172.20.10.2,UDP,1115,8801 > 62819 Len=1073,0.000006,1115
145201,145202,602.848962,144.195.65.24,172.20.10.2,UDP,1147,8801 > 62819 Len=1105,0.000872,1147
145202,145203,602.849661,144.195.65.24,172.20.10.2,UDP,1054,8801 > 62819 Len=1012,0.000699,1054

In [5]:
cols_to_keep = ['Time', 'Source', 'Destination', 'Length','Delta']
data_filtered = data_filtered_protocol.loc[:,cols_to_keep]
data_filtered

              Time         Source    Destination  Length     Delta
0         0.000000    172.20.10.2  144.195.65.24    1052  0.000000
1         0.010594    172.20.10.2  144.195.65.24    1009  0.010594
2         0.020923    172.20.10.2  144.195.65.24    1009  0.010329
3         0.020923    172.20.10.2  144.195.65.24    1009  0.000000
4         0.031861    172.20.10.2  144.195.65.24    1008  0.010938
...            ...            ...            ...     ...       ...
145198  602.836771    172.20.10.2  144.195.65.24     618  0.011000
145199  602.848084  144.195.65.24    172.20.10.2    1115  0.011313
145200  602.848090  144.195.65.24    172.20.10.2    1115  0.000006
145201  602.848962  144.195.65.24    172.20.10.2    1147  0.000872
145202  602.849661  144.195.65.24    172.20.10.2    1054  0.000699

[140191 rows x 5 columns]

In [6]:
lst = data_filtered["Time"].to_list()
array = []
array.append(lst)

In [7]:
data_filtered2 = data_filtered.set_index("Time")
data_filtered2

                   Source    Destination  Length     Delta
Time
0.000000      172.20.10.2  144.195.65.24    1052  0.000000
0.010594      172.20.10.2  144.195.65.24    1009  0.010594
0.020923      172.20.10.2  144.195.65.24    1009  0.010329
0.020923      172.20.10.2  144.195.65.24    1009  0.000000
0.031861      172.20.10.2  144.195.65.24    1008  0.010938
...                   ...            ...     ...       ...
602.836771    172.20.10.2  144.195.65.24     618  0.011000
602.848084  144.195.65.24    172.20.10.2    1115  0.011313
602.848090  144.195.65.24    172.20.10.2    1115  0.000006
602.848962  144.195.65.24    172.20.10.2    1147  0.000872
602.849661  144.195.65.24    172.20.10.2    1054  0.000699

[140191 rows x 4 columns]

In [8]:
x = 0
y = 0.5
rows = []
array_source = []
while (y <= 602.849661):
    for i in range(len(array)):
        
        df_iteration = data_filtered[data_filtered['Time'].between(x, y)]
        df_iteration_pc = df_iteration[df_iteration['Source'] == "172.20.10.2"]
        df_iteration_ph = df_iteration[df_iteration['Source'] == "144.195.65.24"]

        mean_l = df_iteration['Length'].mean()
        std_l = df_iteration['Length'].std()
        median_l = df_iteration['Length'].median()
        mean_d = df_iteration['Delta'].mean()
        std_d = df_iteration['Delta'].std()
        median_d = df_iteration['Delta'].median()
        
        inb = len(df_iteration_ph)
        outb = len(df_iteration_pc)
        tot_pkts = len(df_iteration)        
        
        rows.append([(x,y), mean_l, std_l, median_l, mean_d, std_d, median_d, inb, outb, tot_pkts])
        
    x = y
    y = y + 0.5
#print(df_iteration)
#print(mean)
    
    df = pd.DataFrame(rows)
df.columns = ["Time Interval","Average Packet Size","Standard Deviation Packet Size","Median Packet Size","Average Packet Intervals","Standard Deviation Packet Intervals", "Median Packet Intervals" ,"Inbound Packets", "Outbound Packets","Total Packets"]
df

,Time Interval,Average Packet Size,Standard Deviation Packet Size,Median Packet Size,Average Packet Intervals,Standard Deviation Packet Intervals,Median Packet Intervals,Inbound Packets,Outbound Packets,Total Packets
0,"(0, 0.5)",956.114286,208.242569,1023.0,0.004413,0.005065,0.000492,47,58,105
1,"(0.5, 1.0)",933.644928,241.450296,961.0,0.003510,0.004490,0.000742,77,61,138
2,"(1.0, 1.5)",919.227273,252.522348,888.5,0.003205,0.004270,0.000585,95,59,154
3,"(1.5, 2.0)",955.713115,227.083975,1078.0,0.004066,0.004688,0.001061,64,58,122
4,"(2.0, 2.5)",929.561404,248.768508,1028.0,0.004378,0.004975,0.001581,61,53,114
...,...,...,...,...,...,...,...,...,...,...
1200,"(600.0, 600.5)",1031.739583,321.145294,1131.0,0.004865,0.006184,0.000956,78,18,96
1201,"(600.5, 601.0)",974.734043,331.268146,1108.5,0.005336,0.006885,0.001814,73,21,94
1202,"(601.0, 601.5)",993.343434,331.198755,1126.0,0.004406,0.006043,0.001021,80,19,99
1203,"(601.5, 602.0)",995.216495,317.852994,1118.0,0.004635,0.006014,0.000910,74,23,97
1204,"(602.0, 602.5)",1012.032258,342.128709,1116.0,0.005251,0.007278,0.001742,72,21,93

In [9]:
df.to_csv("/Users/chiaradraghini/Documents/iot_wi_project/data/dataset/Dataset_iotwi.csv")